# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.xls
*.xlsx
*.docx
*.doc
*.tif
*.psd
*.tiff

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

*/data/*
/Epithelia3DOld/*
/Gastrulation/*/edge4d_*
Gastrulation/*/data/*
Gastrulation/*/docs/*
Gastrulation/*/results/*
/CABD/
/Salivary Glands/Confocal stacks/Confocal images/
/Salivary Glands/Confocal stacks/Segmented images/
/Salivary Glands/Confocal stacks/Segmented images data/
/Salivary Glands/Tolerance model/Data/
/Salivary Glands/Tolerance model/Images/
/Salivary Glands/Tolerance model/Seeds/
/Salivary Glands/Tolerance model/*.docx
/Salivary Glands/Voronoi model/Images/
/Salivary Glands/Voronoi model/Seeds/
/Salivary Glands/*.xls
/Salivary Glands/*.xlsx
/culture epithelia/
/Egg chamber/Confocal Images/
/Egg chamber/Segmented images/
/Egg chamber/Segmented images data/
/Egg chamber/classifier.model
/Gastrulation/rawImages & paper/
/Gastrulation/selectedMotif/
/Gastrulation/*.mat
/Gastrulation/*.xlsx
/Wing disc/
/ZEBRA FISH/
/*.xls


# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.asv
